In [20]:
import os
import wfdb
import numpy as np
import pandas as pd

In [22]:
records = np.loadtxt('D:/phd/mit-bih-atrial-fibrillation-database-1.0.0/files/RECORDS', dtype=str)[2:]
pairs_dict = dict()
len_persantage = dict()
for record_number in records:
    filepath = 'D:/phd/mit-bih-atrial-fibrillation-database-1.0.0/files/' + record_number
    event_length = 0
    event_count = 0
    record = wfdb.rdrecord(filepath)
    annotation = wfdb.rdann(filepath, 'atr', shift_samps=True)
    for i, val in enumerate(annotation.aux_note):
        if val == '(AFL' or val == '(AFIB':
            start, end = [annotation.sample[i], annotation.sample[i+1] if i + 1 < len(annotation.aux_note) else len(record.p_signal) - 1]
            event_length += end - start
            event_count += 1
    len_persantage[record_number] = [event_length, event_count, len(record.p_signal)]

In [26]:
for key, val in len_persantage.items():
    print(key, 'record has', val[1], 'events and', val[0]/val[2], 'of AF events')

04015 record has 7 events and 0.006442596808954394 of AF events
04043 record has 83 events and 0.21542501651140156 of AF events
04048 record has 7 events and 0.009797561526696329 of AF events
04126 record has 7 events and 0.037421462214961065 of AF events
04746 record has 5 events and 0.5309992874026697 of AF events
04908 record has 12 events and 0.09059729995133482 of AF events
04936 record has 37 events and 0.813393136471079 of AF events
05091 record has 8 events and 0.002356350806451613 of AF events
05121 record has 20 events and 0.6302832139877642 of AF events
05261 record has 11 events and 0.01302152130839822 of AF events
06426 record has 27 events and 0.9567735852335929 of AF events
06453 record has 6 events and 0.01114954954954955 of AF events
06995 record has 8 events and 0.47172476797135704 of AF events
07162 record has 1 events and 0.9999809901626807 of AF events
07859 record has 1 events and 0.9999952203837598 of AF events
07879 record has 2 events and 0.6029564098998887 of AF events
07910 record has 6 events and 0.17258618517102337 of AF events
08215 record has 3 events and 0.8072175464057286 of AF events
08219 record has 39 events and 0.21586626199249165 of AF events
08378 record has 8 events and 0.2512371602127364 of AF events
08405 record has 2 events and 0.7220893223373193 of AF events
08434 record has 3 events and 0.0386642710650723 of AF events
08455 record has 2 events and 0.6917142093645717 of AF events

In [27]:
def events_count(path, record, results):
    arr = np.loadtxt(path, dtype = int)
    events = 0
    right_events = 0
    for i in range(len(arr)):
        if results[record][0] <= i <= results[record][1] and arr[i] == 1 and arr[i-1] == 0:
                right_events += 1
        if arr[i] == 1 and arr[i-1] == 0:
            events += 1
    interval = results[record][1]- results[record][0]
    return events, right_events, 100* right_events/(events) if events > 0 else 0, interval

In [28]:
results = dict()
results['05261'] = [2162708-2158708, 2163556-2158708]
results['06426'] = [534235-524235,  556304-524235]
results['07879'] = [7334783-7331783, 7335468-7331783]
results['08434'] = [2237188-2232188, 2315413-2232188]
results['08378'] = [742007-722000, 760444-722000]
for key, value in results.items():
    results[key] = [value[0]/8, value[1]/8]

folder = "D:\\test\\CheckProjJulia\\out\\fft\\"
answers = []
for root, dirs, files in os.walk(folder, topdown=False):
    for file in files:
        penalty = file.split(' ')[1].split('.')[0]
        total_events, right_events, right_percent, *_ = events_count(folder + file, file[:5], results)
        answers.append([file[:5], penalty, total_events, right_events, right_percent])
        
fft_statictics = pd.DataFrame(answers, columns = ['record','penalty','total events', 'events overlap', 'correct %'])

In [29]:
results = dict()
results['05261'] = [2162708-2158708, 2163556-2158708]
results['06426'] = [534235-524235,  556304-524235]
results['07879'] = [7334783-7331783, 7335468-7331783]
results['08434'] = [2237188-2232188, 2315413-2232188]
results['08378'] = [742007-722000, 760444-722000]

folder = "D:\\test\\CheckProjJulia\\out\\normal\\"
answers = []
for root, dirs, files in os.walk(folder, topdown=False):
    for file in files:
        parts = file.split('traceback')
        total_events, right_events, right_percent, *_ = events_count(folder + file, file[:5], results)
        answers.append([parts[0], int(parts[1].split('.')[0][1:]), total_events, right_events, right_percent])
        
normal_statictics = pd.DataFrame(answers, columns = ['record','penalty','total events', 'events overlap', 'correct %'])

# Processed without FFT

In [16]:
pd.options.display.max_rows = 250
normal_statictics = normal_statictics.sort_values(by=['record', 'penalty']).reset_index(drop=True)
normal_statictics

   record  penalty  total events  events overlap   correct %
0   05261        5            34               6   17.647059
1   05261        5            14               1    7.142857
2   05261       10            24               4   16.666667
3   05261       10             6               0    0.000000
4   05261       20             9               0    0.000000
5   05261       20             8               0    0.000000
6   05261       50             4               0    0.000000
7   05261       50             1               0    0.000000
8   05261      100             6               0    0.000000
9   05261      100             1               0    0.000000
10  05261      200             6               0    0.000000
11  05261      200             3               0    0.000000
12  05261      500             2               0    0.000000
13  05261      500             3               0    0.000000
14  05261     1000             2               0    0.000000
15  05261     1000             3               0    0.000000
16  06426        5           216              79   36.574074
17  06426        5           407             191   46.928747
18  06426       10           201              73   36.318408
19  06426       10           364             171   46.978022
20  06426       20           111              44   39.639640
21  06426       20           342             147   42.982456
22  06426       50            27              16   59.259259
23  06426       50             4               1   25.000000
24  06426      100            24              10   41.666667
25  06426      100             0               0    0.000000
26  06426      200             8               2   25.000000
27  06426      200             0               0    0.000000
28  06426      500             1               1  100.000000
29  06426      500             0               0    0.000000
30  06426     1000             0               0    0.000000
31  06426     1000             0               0    0.000000
32  07879        5             2               0    0.000000
33  07879        5             4               0    0.000000
34  07879       10             2               0    0.000000
35  07879       10             2               0    0.000000
36  07879       20             0               0    0.000000
37  07879       20             0               0    0.000000
38  07879       50             0               0    0.000000
39  07879       50             0               0    0.000000
40  07879      100             1               0    0.000000
41  07879      100             0               0    0.000000
42  07879      200             0               0    0.000000
43  07879      200             0               0    0.000000
44  07879      500             0               0    0.000000
45  07879      500             0               0    0.000000
46  07879     1000             0               0    0.000000
47  07879     1000             0               0    0.000000
48  08378        5           212              96   45.283019
49  08378        5           215             105   48.837209
50  08378       10           140              55   39.285714
51  08378       10           151              49   32.450331
52  08378       20            16               8   50.000000
53  08378       20            28              15   53.571429
54  08378       50             0               0    0.000000
55  08378       50             0               0    0.000000
56  08378      100             0               0    0.000000
57  08378      100             0               0    0.000000
58  08378      200             0               0    0.000000
59  08378      200             0               0    0.000000
60  08378      500             0               0    0.000000
61  08378      500             0               0    0.000000
62  08378     1000             0               0    0.000000
63  08378     1000             0               0    0.000000
64  08434        5           209             187   89.473684
65  08434        5           107              94   87.850467
66  08434       10            64              59   92.187500
67  08434       10            54              47   87.037037
68  08434       20            26              23   88.461538
69  08434       20            31              27   87.096774
70  08434       50            13              11   84.615385
71  08434       50            31              27   87.096774
72  08434      100            31              27   87.096774
73  08434      100            19              17   89.473684
74  08434      200            17              16   94.117647
75  08434      200             5               4   80.000000
76  08434      500             0               0    0.000000
77  08434      500             2               2  100.000000
78  08434     1000             0               0    0.000000
79  08434     1000             0               0    0.000000

# Processed with FFT

In [15]:
pd.options.display.max_rows = 250
fft_statictics = fft_statictics.sort_values(by=['record', 'penalty']).reset_index(drop=True)
fft_statictics

   record penalty  total events  events overlap   correct %
0   05261      10            39               5   12.820513
1   05261      10             9               2   22.222222
2   05261     100             6               0    0.000000
3   05261     100             0               0    0.000000
4   05261    1000             0               0    0.000000
5   05261    1000             0               0    0.000000
6   05261      20            16               2   12.500000
7   05261      20             6               3   50.000000
8   05261     200             4               0    0.000000
9   05261     200             0               0    0.000000
10  05261       5            44               9   20.454545
11  05261       5            17               2   11.764706
12  05261      50             6               0    0.000000
13  05261      50             0               0    0.000000
14  05261     500             0               0    0.000000
15  05261     500             0               0    0.000000
16  06426      10           237             111   46.835443
17  06426      10           466             230   49.356223
18  06426     100            22              17   77.272727
19  06426     100             3               1   33.333333
20  06426    1000             0               0    0.000000
21  06426    1000             0               0    0.000000
22  06426      20           209              85   40.669856
23  06426      20           378             184   48.677249
24  06426     200            17              16   94.117647
25  06426     200             0               0    0.000000
26  06426       5           253             121   47.826087
27  06426       5           470             232   49.361702
28  06426      50            41              33   80.487805
29  06426      50            76              31   40.789474
30  06426     500             4               4  100.000000
31  06426     500             1               0    0.000000
32  07879      10             3               0    0.000000
33  07879      10             0               0    0.000000
34  07879     100             0               0    0.000000
35  07879     100             0               0    0.000000
36  07879    1000             0               0    0.000000
37  07879    1000             0               0    0.000000
38  07879      20             3               0    0.000000
39  07879      20             0               0    0.000000
40  07879     200             0               0    0.000000
41  07879     200             0               0    0.000000
42  07879       5             4               0    0.000000
43  07879       5            33               4   12.121212
44  07879      50             0               0    0.000000
45  07879      50             0               0    0.000000
46  07879     500             0               0    0.000000
47  07879     500             0               0    0.000000
48  08378      10           233             108   46.351931
49  08378      10           289             169   58.477509
50  08378     100             0               0    0.000000
51  08378     100             1               1  100.000000
52  08378    1000             0               0    0.000000
53  08378    1000             0               0    0.000000
54  08378      20           266             120   45.112782
55  08378      20           224             119   53.125000
56  08378     200             0               0    0.000000
57  08378     200             1               1  100.000000
58  08378       5           200              96   48.000000
59  08378       5           248             140   56.451613
60  08378      50            10               6   60.000000
61  08378      50            17               1    5.882353
62  08378     500             0               0    0.000000
63  08378     500             0               0    0.000000
64  08434      10            93              83   89.247312
65  08434      10            37              29   78.378378
66  08434     100            11               9   81.818182
67  08434     100            16              13   81.250000
68  08434    1000             3               2   66.666667
69  08434    1000             9               8   88.888889
70  08434      20            50              45   90.000000
71  08434      20            26              22   84.615385
72  08434     200            10               7   70.000000
73  08434     200            23              19   82.608696
74  08434       5           432             403   93.287037
75  08434       5            66              54   81.818182
76  08434      50            19              15   78.947368
77  08434      50            20              18   90.000000
78  08434     500             3               2   66.666667
79  08434     500            10               9   90.000000